pipeline/CapstoneProject.json
{
	"name": "CapstoneProject",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DESKTOPFILE",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.dr",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.fl",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:01:00",
					"sleep": 10,
					"minimumSize": 20
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('Validation1').output.size),211)\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 12
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DESKTOPFILE",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@pipeline().parameters.dr",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.fl",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RAW_DATA_SET",
									"type": "DatasetReference",
									"parameters": {
										"RAW_DATA_FILE": {
											"value": "@pipeline().parameters.fl",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "If Condition2",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(int(activity('Copy data1').output.rowsRead),int(activity('Copy data1').output.rowsCopied))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow4",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"RAW_DATA_FILE": {
												"value": "@pipeline().parameters.fl",
												"type": "Expression"
											}
										},
										"sink1": {
											"filename": {
												"value": "@pipeline().parameters.fl",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Data flow1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "stagetodb",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"database": {
										"value": "@pipeline().parameters.database",
										"type": "Expression"
									},
									"tablename": {
										"value": "@pipeline().parameters.tablename",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dr": {
				"type": "string"
			},
			"fl": {
				"type": "string"
			},
			"database": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}