pipeline/testing1.json
{
	"name": "testing1",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DESKTOPFILE",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.dr",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.fl",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:01:00",
					"sleep": 10,
					"minimumSize": 20
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('Validation1').output.size),211)\n\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DESKTOPFILE",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@pipeline().parameters.dr",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.fl",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RAW_DATA_SET",
									"type": "DatasetReference",
									"parameters": {
										"RAW_DATA_FILE": {
											"value": "@pipeline().parameters.fl",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "If Condition2",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(int(activity('Copy data1').output.rowsRead),int(activity('Copy data1').output.rowsCopied))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow4",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"RAW_DATA_FILE": {
												"value": "@pipeline().parameters.fl",
												"type": "Expression"
											}
										},
										"sink1": {
											"filename": {
												"value": "@pipeline().parameters.fl",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Data flow1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "kedarinath/RS_STAGE/",
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Country",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "indicator",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Indicator",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "year&week",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Year_Week",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "value",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Value",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 22
											}
										},
										{
											"source": {
												"name": "source",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Source",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "url",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Url",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DATASET_ON_STAGE",
									"type": "DatasetReference",
									"parameters": {
										"STAGE_FILENAME": {
											"value": "part-00000-*.*",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"dr": {
				"type": "string"
			},
			"fl": {
				"type": "string"
			}
		},
		"annotations": []
	}
}